/* Estilos para dispositivos com largura menor ou igual a 768px (ex.: celulares) */
@media (max-width: 768px) {
    /* Estilos para o cabeçalho */
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    img {
      width: 100%;
      max-width: 300px;
    }
    
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
    
    nav a {
      padding: 5px;
      font-size: 20px;
    }
    
    /* Estilos para a seção conteúdo */
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    article {
      margin-top: 20px;
      width: 100%;
    }
    
    article h2 {
      font-size: 25px;
      text-align: center;
    }
    
    figure {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    figcaption {
      font-size: 18px;
      margin-top: 5px;
      text-align: center;
    }
    
    /* Estilos para o rodapé */
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    
    nav a img {
      width: 40px;
      margin: 10px;
    }
  }
  
  /* Estilos para dispositivos com largura maior que 768px (ex.: tablets, desktops) */
  @media (min-width: 769px) {
    /* Estilos para o cabeçalho */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    
    img {
      width: 200px;
      height: auto;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-right: 20px;
    }
    
    nav a {
      color: #333;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      transition: color 0.3s ease;
    }
    
    nav a:hover {
      color: #666;
    }
    
    /* Estilos para a seção conteúdo */
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
      margin-top: 20px;
    }
    
    article {
      width: calc(33.33% - 20px);
      margin-bottom: 20px;
    }
    
    article h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    
    figcaption {
      font-size: 16px;
      margin-top: 5px;
    }
    
    /* Estilos para o rodapé */
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    
    nav a img {
      width: 30px;
      margin: 0 10px;
    }
  }
  